<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Transaction Saved</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
    <h1>Transaction Saved</h1>
    <p>Card Number: {{ response['card'] }}</p>
    <p>Amount: {{ response['amount'] }}</p>
    <p>Expiration Date: {{ response['date'] }}</p>
    <p>Transaction Type: {{ response['command'] }}</p>
    <a href="/">Add another transaction</a>
</body>
</html>
